aniso8601==7.0.0
appdirs==1.4.4
beautifulsoup4==4.9.1
boto3==1.14.20
botocore==1.17.20
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
dacite==1.5.1
docutils==0.15.2
fake-useragent==0.1.11
Flask==1.1.2
Flask-Cors==3.0.8
Flask-GraphQL==2.0.1
graphene==2.1.8
graphene-pynamodb==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
lxml==4.5.2
MarkupSafe==1.1.1
parse==1.15.0
promise==2.3
pyee==7.0.2
pynamodb==4.3.2
pyppeteer==0.2.2
pyquery==1.4.1
python-dateutil==2.8.1
requests==2.24.0
requests-html==0.10.0
Rx==1.6.1
s3transfer==0.3.3
shortuuid==1.0.1
singledispatch==3.4.0.3
six==1.15.0
soupsieve==2.0.1
tqdm==4.47.0
urllib3==1.25.9
w3lib==1.22.0
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
